<% unless @sharing_option_errors.nil? %>
<div id="error_explanation">
    <h2><%= pluralize(@sharing_option_errors[:count], "error") %> need to be resolved</h2>
    <ul>
        <% binding.pry %>
        <% @sharing_option_errors[:full_messages].each do |key, msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <%= form.label :accessibility, "Public" %><br/>
    <%= form.check_box :accessibility %>
</div>
<% unless note.new_record? %>
<div>
    <ul>
        <% User.note_shared_with(note).each do |user| %>
        <li>
            <span>user.full_name</span>
            <span>user.email</span>
            <span>X</span>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="field">
    <% unless @sharing_option_errors.nil? %>
        <%= error_tag @sharing_option_error[:count], label_tag('share_with', 'Share With') %><br/>
        <%= error_tag @sharing_option_error[:count], text_field_tag('share_with') %>
    <% else %>
        <%= label_tag 'share_with', 'Share With' %><br/>
        <%= text_field_tag 'share_with' %>
    <% end %>
</div>
<button class="js_set_sharing_options" type="button">Set Sharing Options</button>