<% unless @notes.blank? %>
  <ul class="notes_list js_notes_list">
      <% @notes.each do |note| %>
          <li class="note_element js_note_element">
            <div class="note_heading"><%= note.heading %></div>
            <div class="note_body"><%= note.body %></div>
          </li>
      <% end %>
    </ul>
<% else %>
    <h4>No Notes defined!</h4>
<% end %>
<br/>