<li>
  <a href="<%= note_path(object.id) %>">
    <dl>
      <dt class="note_heading"><%= object.heading %></dt>
      <dd class="note_body"><%= object.body.truncate(25, :seperator => /\s/) %></dd>
    </dl>
  </a>
</li>