<div>
  <% if @users.any? %>
      <dl>
        <dt>
        <h5>Users</h5>
        </dt>
        <dd>
          <ul class="results">
            <% @users.each do |user| %>
                <%= render :partial => user.get_search_result_partial_path, :locals => {:object => user} %>
            <% end %>
          </ul>
        </dt>
      </dl>
  <% end %>
  <% if @notes.any? %>
      <dl>
        <dt>
        <h5> Notes</h5>
        </dt>
        <dd>
          <ul class="results">
            <% @notes.each do |note| %>
                <%= render :partial => note.get_search_result_partial_path, :locals => {:object => note} %>
            <% end %>
          </ul>
        </dd>
      </dl>
  <% end %>
  <a href="<%= url_for(:controller => 'search', :action => 'detailed_search_results', :search_string => params[:search_string]) %>">View
    All Results
  </a>
</div>