<li>
  <a href="<%= url_for(:controller => 'user_profile', :action => 'show', :id => object.id) %>">
    <dl>
      <dt><%= object.full_name %></dt>
      <dd><%= object.email %></dd>
    </dl>
  </a>
</li>