/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap/theme";

body {
  background-color: #f6f6f6;
}

.main_content {
  font-family: sans-serif;
  .logo{
    text-decoration: none;
    h2 {
      margin: 0px 20px;
    }
  }
}

.user_form_heading {
  font-family: Sans-Serif;
  text-align: center;
}

.user_form_container {
  background-color: #f9f9f9;
  width: 350px;
  margin: 20px auto;
  padding: 42px;
  background-clip: border-box;
  border-radius: 3px;
  border: transparent;
  h2 {
    color: blue;
  }
}

form {
  #error_explanation{
    border: inherit;
  }
  .field_with_errors {
    background-color: inherit;
    input, textarea, select {
      border: solid rgb(224, 107, 107);
      border-width: thin;
    }
  }
  .form-group {
    margin-bottom: 10px;
    label {
      color: #555555;
      display: block;
    }
    input {
      display: block;
      font-size: 14px;
      border-radius: 3px;
      border-style: groove;
      padding: 8px 6px;
      color: #444444;
      height: 30px;
      min-width: 266px;
    }
    select{
      padding:3px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      background: #f8f8f8;
      color:#888;
      border:none;
      outline:none;
      display: inline-block;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      cursor:pointer;

    }
  }
}

.custom_button.custom_button {
  min-width: 266px;
  background-color: #0079c2;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 9px 23px;
  text-decoration: none;

  :active, :hover {
    position: relative;
    top: 1px;
  }
}

.search_bar_container {
  background-color: #362c66;
  margin: 0 auto;
  padding: 10px 30px;
  color: #ffffff;
  a {
    color: inherit;
  }
  .search_input {
    margin: 5px 0px -22px 90px;
    color: #444444;
    width: 318px;
    border-radius: 8px;
    border-style: solid;
    padding: 6px 14px;
    outline: transparent;
  }
  .search_input_label {
    margin-top: 3px;
    font-size: 22px;
    font-weight: normal;
    margin-left: 84px;
  }
  .navigational_link {
    margin-right: 10px;
  }
}
.search_results_container{
  color: #373535;
  width: 300px;
  margin-top: 39px;
  margin-left: 263px;
  padding: 3px;
  position: absolute;
  z-index: 100;
  background-color: #ffffff;
  border: solid #e4e3e3;
  border-width: thin;
  box-shadow: 2px 17px 30px #888888;
  h5{
    padding: 6px;
    color: #373535;
  }
  dl{
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .results{
    padding-left: 8px;
    li {
      display: block;
      :first-child {
        margin-top: -1px;
        :before{
          border-bottom: 5px solid #c4c7d7;
          top: -11px;
        }
        :after {
          border-bottom: 5px solid #fdfdfd;
          top: -10px;
        }
      }
      :first-child:before,:first-child:after {
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        border: 5px outset transparent;
        :hover {
          display: none;
        }
      }
      :last-child {
        margin-bottom: -1px;
      }
    }
  }
  a {
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 8px 6px 10px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 3px;
    span { font-weight: 200 }
    &:hover {
      text-decoration: none;
      color: #444444;
      background-color: #aaaaaa;
    }
  }
}

.sub_content {
  margin: 0 auto;
  background-color: #362c66;
  .main_sub_content, .note_content_container{
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 20px;
    background-clip: border-box;
    min-height: 575px;
    .user_profile_content{
      margin-left: 35px;
      margin-top: 25px;
      .user_profile_redirect_button{
        display: block;
        height: 33px;
        padding: 6px 14px;
        min-width: 147px;
        margin-bottom: 10px;
      }
    }
    .note_heading.note_heading {
      min-width: 440px;
    }
    .note_body.note_body {
      width: 654px;
      margin-top: 14px;
      height: 400px;
    }
  }
  .side_bar {
    color: white;
    .new_note_button{
      background: white;
      color: black;
      min-width: 80px;
      margin-left: 33px;
      margin-bottom: 19px;
      margin-top: 5px;
      padding: 4px 6px 7px 3px;
    }
    .note_filter_selector {
      padding: 3px;
      margin-left: 18px;
      border-radius: 4px;
      box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      background: #f8f8f8;
      color: #888;
      border: none;
      outline: none;
      display: inline-block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
      -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
      -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    }
    .search_filter_list {
      list-style: none;
      font-size: 14px;
      padding-left: 5px;
      margin-top: 5px;
      li {
        padding-bottom: 5px;
        a {
          padding: 5px;
          color: white;
          display: block;
          text-decoration: none;
          &.selected{
            background-color: #000;
          }
        }
      }
    }

    #notes_list_sidebar_container {
      margin-top: 10px;
      height: 100%;
      .notes_list{
        margin-top: 10px;
        list-style: none;
        padding-left: 14px;
        li {
          padding-bottom: 0px;
          dl{
            margin-bottom: 0px;
          }
          a {
            padding: 3px;
            color: white;
            display: block;
            text-decoration: none;
            &.selected{
              background-color: #000;
            }
          }
        }
      }
      .note_list_info {
        font-size: 12px;
        background-clip: border-box;
        background: white;
        color: black;
        padding: 2px 15px;
        border-radius: 22px;
      }
      .pagination {
        margin-top: 5px;
        color: white;
        a{
          color: white;
        }
      }
    }
    .user_profile_note_list_container{
      margin-top: 35px !important;
    }
  }
}

.note_sharing_button.note_sharing_button {
  font-size: 25px;
  background-color: #0079c2;
  margin-right: 13px;
  color: white;
  padding: 6px 8px;
  border-radius: 13px;
  box-shadow: 0px 0px 4px #888888;
}
.note_display_body {
  background-color: white;
  border: solid rgba(136, 136, 136, 0.12);
  border-radius: 1px;
  border-width: thin;
  margin-botton: 20px;
}
.note_display_heading {
  margin-bottom: 30px;
}

.custom_modal {
  position: absolute;
  z-index: 99;
  background-color: #FFFFFF;
  background-clip: border-box;
  margin-left: -15px;
  margin-top: 42px;
  padding: 37px;
  border: solid #e4e3e3;
  border-width: thin;
  box-shadow: 0px 9px 30px #888888;
  width: 611px;
  .note_shared_list_container {
    .note_shared_list {
      list-style-type: none;
      padding: 2px;
      width: 100%;
      li {
        width: 48%;
        display:inline-block;
        margin-bottom: 4px;
        margin-right: 4px;
        background-clip: border-box;
        border-radius: 3px;
        border: solid #888888;
        border-width: thin;
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 2px;
        padding-right: 7px;
        height: 50px;
        box-shadow: 1px 1px 6px #888888;
        background-color: rgba(212, 229, 239, 0.09);
      }
    }
  }
}

.detailed_search_results {
  color: #666;
  margin-top: 31px;
  padding: 3px;
  z-index: 100;
  background-color: #ffffff;
  h5 {
    padding: 6px;
    color: #373535;
  }
  dl {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  li {
    display: block;
    &:first-child {
      margin-top: -1px;
    }
    &:after{
      content: "";
      display: block;
      height: 1px;
      margin: 0px;
      background: #D8D8D8;
    }
    &:last-child {
      margin-bottom: -1px;
    }
  }
  a {
    color: #666;
    display: block;
    position: relative;
    margin: 0 -1px;
    padding: 6px 8px 6px 10px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 3px;
    span {
      font-weight: 200
    }
    &:visited{
      color: #666;
    }
    &:hover {
      text-decoration: none;
      color: #444444;
      background-color: #aaaaaa;
    }
  }
}
.display_label {
  font-weight: bold;
  padding: 0px 10px;
}